/* AddExpenseList.css */

.expense-table {
  width: 90%;
  margin: 2em auto;
  border-collapse: collapse;
  text-align: left;
}

.expense-table th,
.expense-table td {
  padding: 0.5em 1em;
  border: 1px solid #ddd;
}

.expense-table th {
  background-color: #0044cc;
  color: #fff;
}

.expense-table tbody tr:nth-child(odd) {
  background-color: #f4f4f8;
}

.expense-table tbody tr:hover {
  background-color: #ddf4ff;
}

h1 {
  text-align: center;
  color: black;
}
