@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

body, html {
  height: 100vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, #ffecd2, #fcb69f);
  color: #333;
  overflow: hidden;
  background: url('images/marcus-lenk-62P0MnGIE9o-unsplash.jpg') !important;
  background-size: cover !important;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  height: 90vh;
  gap: 2%; 
}

.login-form {
  background: #ffffff;
  padding: 40px 40px 40px 60px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  border-left: 10px solid #ff6600; 
}

.login-form .login-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  color: #5d647b;
  margin-bottom: 0.5rem; 
  text-align: left;
}

.login-input-group label {
  font-size: 0.9rem;
  color: #5d647b;
  margin-bottom: 0.5rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login-input-group input {
  width: calc(100% - 2rem); 
  padding: 1rem;
  border: 1px solid #dfe1e5;
  border-radius: 0;
  font-size: 1rem;
}

.login-input-group input:focus {
  outline: none;
  border-color: #ff6600;
  box-shadow: 0 0 0 2px rgba(255, 102, 0, 0.2);
}

.login-button {
  width: 80%;
  padding: 1rem;
  border: none;
  background-color: #ff6600;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 1rem;
}

.login-button:hover {
  background-color: #cc5200;
}

.login-forgot-password {
  display: block;
  margin-top: 2rem;
  color: #ff6600;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-forgot-password:hover {
  text-decoration: underline;
}

.login-image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.login-image-section img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    gap: 30px;
  }

  .login-form {
    order: 2;
    width: 90%;
    max-width: 90%;
    margin-top: 20px;
    padding: 20px;
    border-left: none;
  }

  .login-image-section {
    order: 1;
    width: 100%;
    padding: 0;
  }

  .login-image-section img {
    max-height: 200px;
  }
}
